@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Oleo+Script+Swash+Caps&display=swap");

$secundaria: #C4C4C4;
$primaria: #1AE52E;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}
@import "scss/functions";
@import "scss/objetos";
.menuElevador{
    width: 100;
    text-align: center;
    padding: 40px;
    background-color: black
}
h1{
    font-size: 36px;
}
h1, h2, h3, h4{
    color: black;
    font-family: 'Oleo Script', cursive;
}
.conteudo{
    // margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 5vh;
    .caixaDeInfo{
        margin-top: 10%;
        text-align: center;
        background-color: $secundaria;
        margin-left: 10%;
        margin-right: 20%;
        border: 2px solid #DAC720;
        border-radius: 23px;
        height: 20vh;
        p{
            margin: 10px;
            font-size: 15px;
            
        }
    }
    .elevador{
        background-color: $secundaria;
        border: 1px solid $secundaria;
        border-radius: 23px;
        margin-top: 10%;
       .titulo{
            background-color: #828080;
            border-radius: 23px;
            text-align: center;
            @include centraliza();
            height: 10vh;
        }
        .andares{
            .andar{
               display: grid;
               grid-template-columns: 2fr 5fr; 
               margin-top: 25px;
               margin-bottom: 25px;
               .numAnd{
                  @include centraliza();
               }
               .pessoasElevador{
                   @include centraliza();
                    border: 2px solid black;
                    border-radius: 10px;
                    margin-right: 10px;
                    p{
                        margin-left: 5px;
                    }
                }
           }
        }
    }
}